@import "node_modules/pixel-borders/src/styles/pixel-borders/pixel-borders-mixins";

// @font-face {
//   font-family: "Pixel";
//   src: url("/assets/ark-pixel-font-10px-monospaced-woff2-v2022.11.11/ark-pixel-10px-monospaced-ja.woff2")
//     format("woff2");
// }

.containerMovies {
  //container
  -webkit-transform: translate(-5%, -5%);
  -ms-transform: translate(-5%, -5%);
  transform: translate(0%, 0%);
  width: 100%;
  max-width: 95%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 20px;

  .imageLoading {
    width: 300px;
  }

  .movieCard {
    // card tajeta general
    position: relative;
    background: #000;
    overflow: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 20px;
    padding: 0;
    color: white;
    height: 400px;
    width: 300px;

    @include pixel-borders(
      $corner-size: 1,
      $border-size: 3px,
      $border-color: #000,
      $border-inset-color: false
    );

    .imageContainer {
      // imagebox el que contiene la carta
      position: relative;
      margin: 0px;
      padding: 0px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      cursor: pointer;
      background-color: #000;

      .imageMovie {
        width: 100%;
        margin-bottom: 0px;
        height: 100%;
        object-fit: cover;
      }
    }

    .imageContainer:hover {
      opacity: 0.18;
    }

    .content {
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: -100%;
      padding: 15px;
      padding-top: 60px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      z-index: -1;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: pixel;

      .title {
        text-align: center;
        margin-bottom: 8%;
        font-weight: bold;
        font-size: 25px;
        color: yellow;
      }

      .director {
        text-align: center;
        font-size: small;
        padding-bottom: 10px;
        line-height: 1.5em;
      }
    }
  }

  .movieCard:hover {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.8);

    .content {
      bottom: 0;
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 485px) {
  .containerMovies {
    //container
    top: 35%;
  }
}

//maquetado tamaño más pequeño, luego ya haremos en responsive los mediaquery para pantalla
//para tamaño grande meter un grid
