footer{
    background-color: aqua;
     padding-bottom: 30px; 
   /*  position:sticky;
    bottom:0%; */
    width:100%;

    
    .authorsImage{
        width: 70px;
        padding-bottom: 20px;
        padding-top: 15px;
    }
    .pFooter{
        padding: 0px 20px;
    }
}
