@import "node_modules/pixel-borders/src/styles/pixel-borders/pixel-borders-mixins";

button{
  width: 100px;
  background-color: yellow;
  color: black;
  padding: 10px 15px;
  margin: 8px 0;
 
  font-weight: bold;
  font-size: 15px;
  @include pixel-borders(
  $corner-size: 1,
  $border-size: 4px,
  $border-color: yellow,
  $border-inset-color: false
);
  cursor: pointer;
  font-family: pixel;
}