@import "./Reset.scss";


@font-face {
  font-family: "Pixel";
  src: url("../ark-pixel-font-10px-monospaced-woff2-v2022.11.11/ark-pixel-10px-monospaced-ja.woff2")
    format("woff2");
} 

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  
}

