@font-face {
  font-family: "Pixel";
  src: url("/assets/ark-pixel-font-10px-monospaced-woff2-v2022.11.11/ark-pixel-10px-monospaced-ja.woff2")
    format("woff2");
}

body {
  margin: 0;
  font-family: Pixel;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
